src/main/app/salesforcecustomers.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security" xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:ss="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.1/mule-spring-security.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd">
  <secure-property-placeholder:config name="salesforcecustomers_Secure_Property_Placeholder" key="${salesforcecustomers.key}" location="mule-app-${salesforcecustomers.env}.properties" doc:name="salesforcecustomers Secure Property Placeholder" />
  <http:listener-config name="salesforcecustomers-httpListenerConfig" host="${salesforcecustomers.host}" port="${salesforcecustomers.port}" doc:name="HTTP Listener Configuration" />
  <apikit:config name="salesforcecustomers-config" raml="salesforcecustomers.raml" consoleEnabled="false" doc:name="Router" />
  <flow name="salesforcecustomers-main">
    <http:listener config-ref="salesforcecustomers-httpListenerConfig" path="${salesforcecustomers.path}" doc:name="HTTP" />
    <set-session-variable variableName="correlationId" value="#[message.rootId]" doc:name="Set sessionVar correlationId" />
    <apikit:router config-ref="salesforcecustomers-config" doc:name="APIkit Router" />
    <exception-strategy ref="salesforcecustomers-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
  </flow>
  <flow name="salesforcecustomers-console">
    <http:listener config-ref="salesforcecustomers-httpListenerConfig" path="/console/*" doc:name="HTTP" />
    <apikit:console config-ref="salesforcecustomers-config" doc:name="APIkit Console" />
  </flow>
  <flow name="get:/customersummary:salesforcecustomers-config"><flow-ref name="common-salesforcecustomers-inbound" doc:name="common-salesforcecustomers-inbound"/><flow-ref name="customersummary" doc:name="customersummary"/><flow-ref name="common-salesforcecustomers-outbound" doc:name="common-salesforcecustomers-outbound"/><exception-strategy ref="common-exception-strategyChoice_Exception_Strategy" doc:name="Reference Exception Strategy" /></flow>
  <sub-flow name="common-salesforcecustomers-inbound" doc:name="common-salesforcecustomers-inbound">
    <flow-ref name="common-properties" doc:name="common-properties" />
    <flow-ref name="common-request-persistence" doc:name="common-request-persistence" />
  </sub-flow>
  <sub-flow name="common-salesforcecustomers-outbound" doc:name="common-salesforcecustomers-outbound">
    <flow-ref name="common-response-persistence" doc:name="common-response-persistence" />
  </sub-flow>
  <apikit:mapping-exception-strategy name="salesforcecustomers-apiKitGlobalExceptionMapping">
    <apikit:mapping statusCode="404">
      <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
      <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
      <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
    </apikit:mapping>
    <apikit:mapping statusCode="405">
      <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
      <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
      <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
    </apikit:mapping>
    <apikit:mapping statusCode="415">
      <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
      <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
      <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
    </apikit:mapping>
    <apikit:mapping statusCode="406">
      <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
      <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
      <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
    </apikit:mapping>
    <apikit:mapping statusCode="400">
      <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
      <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
      <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
    </apikit:mapping>
  </apikit:mapping-exception-strategy>
</mule>
